@model ETicaret.Models.Urun
@{
    ViewBag.Title = "Yeni Ürün Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        @ViewBag.Title
                    </header>
                    <div class="panel-body">
                        <form role="form" action="~/Admin/UrunEkle" method="post" class="form-horizontal tasi-form">
                            @Html.AntiForgeryToken()
                            <div class="form-group has-success">
                                <label class="col-lg-2 control-label">Ürün Adı</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="" name="Adi" id="f-name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group has-error">
                                <label class="col-lg-2 control-label">Açıklama</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="" name="Aciklama" id="l-name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group has-warning">
                                <label class="col-lg-2 control-label">Alış Fiyatı</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="" name="AlisFiyat" id="email2" class="form-control">
                                </div>
                            </div>
                            <div class="form-group has-warning">
                                <label class="col-lg-2 control-label">Satış Fiyatı</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="" name="SatisFiyat" id="email2" class="form-control">
                                </div>
                            </div>
                            <div class="form-group has-warning">
                                <label class="col-lg-2 control-label">Son Kullanma Tarihi</label>
                                <div class="col-lg-10">
                                    <input type="date" placeholder="" name="SonKullanmaTarih" id="email2" class="form-control">
                                </div>
                            </div>
                            <select class="form-control input-lg m-bot15" name="KategoriId">
                                @foreach (var item in ViewBag.Kategoriler)
                                {
                                    <option value="@item.Id">@item.Adi</option>
                                }
                            </select>
                            <select class="form-control input-lg m-bot15" name="MarkaId">
                                @foreach (var item in ViewBag.Markalar)
                                {
                                    <option value="@item.Id">@item.Adi</option>
                                }
                            </select>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-danger" type="submit">Kaydet</button>
                                    <button class="btn btn-default" type="button">İptal Et</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>